$screen-background: black;

body {
  background-color: black;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
}

.Start, .Game {
	position: fixed;
	z-index: 3;
	width: 100%;
	height: 100%;
}

.logo {
	color: yellow !important;
	letter-spacing: -6px;
	line-height: 1.2em;
	font-size: 4em;
	margin-bottom: 100px;
	text-align: center;
	text-shadow: -3px 0 0 blue,
    -5px 0 0 #000,
    3px 0 0 red,
    5px 0 0 orange;
}

.arcade-font {
  color: lightblue;
  font-weight: bold;
  letter-spacing: -2px;
  -webkit-filter: blur(1px);
}

.btn {
  cursor: pointer;
  font-size: 3em;
  width: 220px;
  text-align: center;
  margin: 0 auto;
  letter-spacing: -3px;
  border: 3px solid lightblue;
  padding: 15px;
  border-radius: 15px;
  animation: blink 1s steps(4, start) infinite;

  a {
  	color: inherit;
  	text-decoration: none;
  }

  &:hover {
  	color: white;
	  border-color: white;
	  transform: scale(0.99,0.99);
  }
}

.copyright {
	text-align: center;
	color: lightblue;
	padding-top: 50px;
	a {
		color: lightblue;
		display: inline-block;
		padding-bottom: 20px;
		&:visited {
			color: lightblue;
		}
	}
}

.stars, .twinkling {
	position:absolute;
	display:block;
	top:0; 
	bottom:0;
	left:0; 
	right:0;
	width:100%; 
	height:100%;
}

.stars {
	z-index: 0;
	background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}

.twinkling {
	z-index: 1;
	background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
	animation: move-twink-back 200s linear infinite;
}

@keyframes hard-flicker {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i / $steps)} {
      opacity: random();
    }
  }
}

@keyframes soft-flicker {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i / $steps)} {
      opacity: 0.175 * (4 + random());
    }
  }
}

.crt {
  overflow: hidden;
}

.crt::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:linear-gradient(transparentize($screen-background,1) 50%, transparentize(darken($screen-background,10),0.75) 50%), linear-gradient(90deg,transparentize(#ff0000,0.94),transparentize(#00ff00,0.98),transparentize(#0000ff,0.94));
  background-size: 100% 2px, 3px 100%;
  z-index: 20;
  pointer-events: none;
  animation: hard-flicker 0.16s infinite;
}

.crt:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparentize($screen-background, 0.9);
  opacity: 0;
  z-index: 20;
  pointer-events:none;
}

 @keyframes blink {
   to {
     visibility: hidden;
   }
 }
  

@keyframes move-twink-back {
	from {
		background-position:0 0;
	}
	to {
		background-position:-10000px 5000px;
	}
}